package plates

templ NotFoundPage() {
   @head() {
      @topWrapper() {
         <div class="text-center m-4">
            <p class="text-lg font-bold">
               404 Not Found
            </p>
            <p class="mb-3">
               If something was here before, it's not anymore.
            </p>
            <p class="text-sm">
               <a href="/">Back to home</a>
            </p>
         </div>
      }
   }
}
