package plates

templ prismText() {
   <div class="prism-text relative">
      <div class="prism-text-0">{children...}</div>
      <div class="prism-text-1">{children...}</div>
      <div class="prism-text-2">{children...}</div>
      <div class="prism-text-3">{children...}</div>
   </div>
}

templ curtains() {
   <div class="curtains"></div>
}
