@tailwind base;
@tailwind components;
@tailwind utilities;
html {
   scroll-behavior: smooth;
}

body {
   font-family: 'Poppins', sans-serif;
   color: #444;
   overflow-y: scroll;
   @apply text-gray-700 bg-gray-50;
}

::selection {
   background-color: theme('colors.gray.300');
   /* color: #fdfdfd; */
}

.curtains {
   @apply bg-gray-50;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   transform: skew(45deg, 45deg);
   animation: skew-animation 2s forwards , fade-out 0s 2s forwards;
}

@keyframes skew-animation {
   0% {
      transform: skew(45deg, 0deg);
      right: -100%;
      left: -100%;
   }
   100% {
      transform: skew(45deg, 0deg);
      left: 50%;
      right: 50%;
   }
}

@keyframes fade-out {
   from {
     opacity: 1;
   }
   to {
     opacity: 0;
   }
}
@keyframes fade-in {
   from {
     opacity: 0;
   }
   to {
     opacity: 1;
   }
}

.fade-in-wait {
   opacity: 0;
}

.fade-in {
   opacity: 1;
   transition: opacity 2s;
}

.prism-text-1, .prism-text-2, .prism-text-3 {
   mix-blend-mode: multiply;
   position: absolute;
   width: 100%;
   top: 0;
   left: 0;
   user-select: none;
   pointer-events: none;
   opacity: 0;
}

.prism-text-0 {
   color: #222;
   opacity: 1;
}

.prism-text-1 {
   color: #f55;
}

.prism-text-2 {
   color: #5f5;
}

.prism-text-3 {
   color: #55f;
}

.prism-text-0-drop {
   color: rgba(1,1,1,0.1);
   transition: color 0.5s;
}

.prism-text-0::selection {
   background-color: red;
}

@keyframes prism-text-1-animation2 {
   from {
      transform: translate(0px, 0px);
      opacity: 1;
   }
   to {
      transform: translate(-3px, 0px);
      opacity: 1;
   }
}

@keyframes prism-text-2-animation2 {
   from {
      transform: translate(0px, 0px);
      opacity: 1;
     
   }
   to {
      transform: translate(1px, 0px);
      opacity: 1;
   }
}

@keyframes prism-text-3-animation2 {
   from {
      transform: translate(0px, 0px);
      opacity: 1;
     
   }
   to {
      transform: translate(0px, 0px);
      opacity: 1;
   }
}

.navbutton {
   opacity: 0;
   animation: fade-in 2s  forwards;

}

.navbutton a {
   text-decoration: underline 3px theme('colors.gray.300');
}

.navbutton a:hover {
   text-decoration: underline 3px theme('colors.red.500');
}

.funground {
   position: fixed;
   left: 0;
   top:0;
}

.section-header {
   @apply text-2xl font-bold border-b-[3px] border-gray-300 mb-4;
}

.blog-excerpt {
   /* font-family: 'JetBrains Mono', sans-serif; */
   line-height: 1.5em;
   @apply font-normal;
}

.dissonance {
   /* text-shadow:  1px 0px 0px rgba(255,0,0,0.5), -1px 0px 0px rgba(0,255,0,0.5); */
}

.content-section {
   @apply m-4 mt-10;
}

.bio-text {
   line-height: 1.5em;
}

a {
   text-decoration: underline;
}

a:hover {
   text-decoration: underline 1px theme('colors.red.500');
}

.section-header {
   @apply text-gray-600;
}

.section-header a {
   text-decoration: none;
   text-shadow: -2px 2px 0px #fdfdfd, 2px 2px 0px #fdfdfd;
   position: relative;
   top: 5px;
}

.blog-excerpt {
   @apply max-h-[400px] overflow-y-hidden;
}

.blog-content p {
   @apply mb-4;
}
.blog-content img {
   @apply rounded-md;
}
.blog-content pre {
   @apply mb-4 p-4 bg-gray-200 rounded-md overflow-x-auto;
   font-family: 'PT Mono', monospace;
}

.blog-content ul {
   @apply list-disc list-outside ml-8 mb-4;
}

.blog-content ol {
   @apply list-decimal list-outside ml-8 mb-4;
}

.blog-content h2 {
   @apply text-xl font-bold mt-4 mb-2;
}
.blog-content h3 {
   @apply text-lg font-bold mt-4 mb-2;
}
.blog-content blockquote {
   @apply border-l-4 border-gray-300 pl-4;
}